.interet{
  background-image:url("../images/bg-interet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding:66px 0 82px;
  text-align: center;
}

.interet .conteneur h3{
  font-size:40px;
  text-transform: uppercase;
  text-align:center;
  font-weight:bold;
}

.interet .conteneur h4{
  text-transform: uppercase;
  font-weight:bold;
}