*, *::before, *::after{
  box-sizing:border-box;
}

h1,h2{
  font-family: var(--font-secondaire);
  color:var(--couleur-blanc);

  margin:0;
}

li{
  list-style: none;
}

/* H1 */
h1{
  font-size: 36px;
}

h2{
  font-size: 80px;
}

/* a ET HOVER */

a{
  color:var(--couleur-blanc);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color:#A7029A;
  }
}